<clr-header class="header" style="z-index: -1;">
    <div class="branding">
        <a [routerLink]="['']" routerLinkActive="router-link-active" class="nav-link">
            <clr-icon shape="book" style="color: white"></clr-icon>
            <span class="title">BookForum</span>
        </a>
    </div>
    <form class="search header-nav">
        <label for="search_input">
            <input id="search_input" type="text" placeholder="Пошук..." />
        </label>
    </form>
    <div class="header-nav" [clr-nav-level]="2">
        <a class="nav-link nav-text" [routerLink]="['/books']" [queryParams]="{page: 1}" routerLinkActive="router-link-active">Каталог книг</a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
        <a class="nav-link nav-text" [routerLink]="['/contact']" routerLinkActive="router-link-active">Зворотний зв'язок</a>
    </div>
    <div class="header-actions">
        <a class="nav-link nav-icon" *ngIf="isLoggedIn" (click)="onOpenBookmarks()">
            <clr-icon shape="bookmark"></clr-icon>
        </a>
        <a class="nav-link nav-icon" *ngIf="isLoggedIn" (click)="logout()">
            <clr-icon shape="logout"></clr-icon>
        </a>
        <a class="nav-link nav-icon" [routerLink]="['/login']" *ngIf="!isLoggedIn">
            <clr-icon shape="login"></clr-icon>
        </a>
    </div>
</clr-header>
