<div class="clr-row books">
    <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6" *ngFor="let book of books">
        <div class="book">
            <div class="front">
                <div class="thumbnail" [style.backgroundImage]="'url('+book.thumbnail+')'"></div>
                <!-- <div class="thumbnail" [style.backgroundImage]="'url(../../../assets/book_muscle.jpg)'"></div> -->
                <div class="book-about">
                    <h3 class="book-title">{{ book.title | slice:0:20 | titlecase }}..</h3>
                    <div class="book-info">
                        <div class="author">{{book.author_name | initials}}</div>
                        <div class="published">Рік: {{ book.published_year }}</div>
                    </div>
                </div>
            </div>
            <div class="background">
                <div class="book-details">
                    <p class="book-description">{{book.description}}</p>
                    <button type="button" class="btn btn-light-color-outline"
                        [routerLink]="['/books-details',  book.id]">See details</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clr-col clr-col-12">
    <app-pagination [baseUrl]="'/books'" [paginateTotal]="booksTotal" [currPage]="booksCurrBatch"
        [paginateBatch]="booksBatchSize" *ngIf="books" [scrollElem]="'.content-area'">
    </app-pagination>
</div>