<form class="search block" [formGroup]="searchForm">
    <div class="search-field clr-row clr-align-items-center">
        <div class="clr-col clr-col-sm-9 clr-col-7">
            <clr-icon shape="search" size="28"></clr-icon>
            <input type="search" formControlName="search" placeholder="Шукай тут..">
        </div>
        <div class="clr-col clr-col-sm-3 clr-col-5">
            <input type="button" class="btn btn-light-color-outline" value="Шукати" (click)="startSearch()">
        </div>
    </div>
    <br>
    <div class="search-options clr-row">
        <!-- <div class="clr-col-12 search-options-type">
            <clr-radio-wrapper (click)="onSearchOptionChange(both)">
                <input type="radio" clrRadio value="both" formContolName="searchOptions" name="searchOptions" #both />
                <label>За назвою та описом</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper (click)="onSearchOptionChange(byTitle)">
                <input type="radio" clrRadio value="title" formContolName="searchOptions" name="searchOptions"
                    #byTitle />
                <label>Тільки за назвою</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper (click)="onSearchOptionChange(byAuthor)">
                <input type="radio" clrRadio value="author" formContolName="searchOptions" name="searchOptions"
                    #byAuthor />
                <label>За автором</label>
            </clr-radio-wrapper>

        </div> -->
        <ng-container *ngIf="!detailedSearch else extendedPanel">
            <button type="button" class="btn btn-light-color-outline" (click)="detailedSearch = true;">Розширений пошук</button>
        </ng-container>
        
        <ng-template #extendedPanel>
        <div class="clr-col-12">

            <clr-input-container>
                <label for="">Рік:</label>
                <input clrInput placeholder="Рік.." type="number" maxlength="4" max="2021"
                    formControlName="published_year" style="color: white" />
            </clr-input-container>

            <clr-select-container>
                <label>Жанр: </label>
                <select clrSelect formControlName="genres" style="color: white">
                    <option *ngFor="let genre of genres" [ngValue]="genre.id">{{genre.title}}</option>
                </select>
            </clr-select-container>

            <clr-select-container>
                <label>Автор: </label>
                <select clrSelect formControlName="author" style="color: white">
                    <option *ngFor="let author of authors" [ngValue]="author.id">{{author.full_name}}</option>
                </select>
            </clr-select-container>

        </div>

        </ng-template>
        
    </div>
    <button id="router-cleaner" class="btn btn-light-color-outline" (click)="clearRouter()"><clr-icon shape="trash" style="color: white"></clr-icon></button>
</form>
<div class="clr-row books">
    <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6" *ngFor="let book of books"
        style="margin-bottom: 1.7em;">
        <div class="book">
            <button class="bookmark" (click)="createBookmark($event)" [attr.data-book-id]="book.id"></button>
            <div class="front">
                <div class="thumbnail" [style.backgroundImage]="'url('+book.thumbnail+')'"></div>
                <!-- <div class="thumbnail" [style.backgroundImage]="'url(../../../assets/book_muscle.jpg)'"></div> -->
                <div class="book-about">
                    <h3 class="book-title">{{ book.title | slice:0:20 | titlecase }}..</h3>
                    <div class="book-info">
                        <div class="author">{{book.author_name | initials}}</div>
                        <div class="published">Рік: {{ book.published_year }}</div>
                    </div>
                </div>
            </div>
            <div class="background">
                <div class="book-details">
                    <p class="book-description">{{book.description}}</p>
                    <button type="button" class="btn btn-light-color-outline"
                        [routerLink]="['/books-details',  book.id]">See details</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clr-col clr-col-12">
    <app-pagination [baseUrl]="'/books'" [paginateTotal]="booksTotal" *ngIf="books" [currPage]="currPage"
        (page-change)="onChangePage($event)" [scrollElem]="'.content-area'">
    </app-pagination>
</div>