<div class="books content-area" style="overflow: visible; padding-bottom: 5rem;">
    <div class="clr-row clr-gy-5">
        <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6">
            <div class="book">
                <div class="bookmark"><span class="genre">Growth</span></div>
                <div class="front">
                    <img class="thumbnail" src="../../../assets/book_muscle.jpg" alt="" width="200px">
                    <div class="book-about">
                        <h3 class="book-title">Book name</h3>
                        <div class="book-info">
                            <div class="author">J.K. Rowling</div>
                            <div class="published">Year: 2015</div>
                        </div>
                    </div>
                </div>
                <div class="background">
                    <div class="book-details">
                        <p class="book-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                            nulla voluptas iure error quod ex labore sapiente nesciunt tempore unde?</p>
                        <button type="button" class="btn btn-outline">See details</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6">
            <div class="book">
                <div class="bookmark"><span class="genre">Growth</span></div>
                <div class="front">
                    <img class="thumbnail" src="../../../assets/book_muscle.jpg" alt="" width="200px">
                    <div class="book-about">
                        <h3 class="book-title">Book name</h3>
                        <div class="book-info">
                            <div class="author">J.K. Rowling</div>
                            <div class="published">Year: 2015</div>
                        </div>
                    </div>
                </div>
                <div class="background">
                    <div class="book-details">
                        <p class="book-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                            nulla voluptas iure error quod ex labore sapiente nesciunt tempore unde?</p>
                        <button type="button" class="btn btn-outline">See details</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6">
            <div class="book">
                <div class="bookmark"><span class="genre">Growth</span></div>
                <div class="front">
                    <img class="thumbnail" src="../../../assets/book_muscle.jpg" alt="" width="200px">
                    <div class="book-about">
                        <h3 class="book-title">Book name</h3>
                        <div class="book-info">
                            <div class="author">J.K. Rowling</div>
                            <div class="published">Year: 2015</div>
                        </div>
                    </div>
                </div>
                <div class="background">
                    <div class="book-details">
                        <p class="book-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                            nulla voluptas iure error quod ex labore sapiente nesciunt tempore unde?</p>
                        <button type="button" class="btn btn-outline">See details</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6">
            <div class="book">
                <div class="bookmark"><span class="genre">Growth</span></div>
                <div class="front">
                    <img class="thumbnail" src="../../../assets/book_muscle.jpg" alt="" width="200px">
                    <div class="book-about">
                        <h3 class="book-title">Book name</h3>
                        <div class="book-info">
                            <div class="author">J.K. Rowling</div>
                            <div class="published">Year: 2015</div>
                        </div>
                    </div>
                </div>
                <div class="background">
                    <div class="book-details">
                        <p class="book-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                            nulla voluptas iure error quod ex labore sapiente nesciunt tempore unde?</p>
                        <button type="button" class="btn btn-outline">See details</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6">
            <div class="book">
                <div class="bookmark"><span class="genre">Growth</span></div>
                <div class="front">
                    <img class="thumbnail" src="../../../assets/book_muscle.jpg" alt="" width="200px">
                    <div class="book-about">
                        <h3 class="book-title">Book name</h3>
                        <div class="book-info">
                            <div class="author">J.K. Rowling</div>
                            <div class="published">Year: 2015</div>
                        </div>
                    </div>
                </div>
                <div class="background">
                    <div class="book-details">
                        <p class="book-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                            nulla voluptas iure error quod ex labore sapiente nesciunt tempore unde?</p>
                        <button type="button" class="btn btn-outline">See details</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6">
            <div class="book">
                <div class="bookmark"><span class="genre">Growth</span></div>
                <div class="front">
                    <img class="thumbnail" src="../../../assets/book_muscle.jpg" alt="" width="200px">
                    <div class="book-about">
                        <h3 class="book-title">Book name</h3>
                        <div class="book-info">
                            <div class="author">J.K. Rowling</div>
                            <div class="published">Year: 2015</div>
                        </div>
                    </div>
                </div>
                <div class="background">
                    <div class="book-details">
                        <p class="book-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                            nulla voluptas iure error quod ex labore sapiente nesciunt tempore unde?</p>
                        <button type="button" class="btn btn-outline">See details</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6">
            <div class="book">
                <div class="bookmark"><span class="genre">Growth</span></div>
                <div class="front">
                    <img class="thumbnail" src="../../../assets/book_muscle.jpg" alt="" width="200px">
                    <div class="book-about">
                        <h3 class="book-title">Book name</h3>
                        <div class="book-info">
                            <div class="author">J.K. Rowling</div>
                            <div class="published">Year: 2015</div>
                        </div>
                    </div>
                </div>
                <div class="background">
                    <div class="book-details">
                        <p class="book-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                            nulla voluptas iure error quod ex labore sapiente nesciunt tempore unde?</p>
                        <button type="button" class="btn btn-outline">See details</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6">
            <div class="book">
                <div class="bookmark"><span class="genre">Growth</span></div>
                <div class="front">
                    <img class="thumbnail" src="../../../assets/book_muscle.jpg" alt="" width="200px">
                    <div class="book-about">
                        <h3 class="book-title">Book name</h3>
                        <div class="book-info">
                            <div class="author">J.K. Rowling</div>
                            <div class="published">Year: 2015</div>
                        </div>
                    </div>
                </div>
                <div class="background">
                    <div class="book-details">
                        <p class="book-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                            nulla voluptas iure error quod ex labore sapiente nesciunt tempore unde?</p>
                        <button type="button" class="btn btn-outline">See details</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6">
            <div class="book">
                <div class="bookmark"><span class="genre">Growth</span></div>
                <div class="front">
                    <img class="thumbnail" src="../../../assets/book_muscle.jpg" alt="" width="200px">
                    <div class="book-about">
                        <h3 class="book-title">Book name</h3>
                        <div class="book-info">
                            <div class="author">J.K. Rowling</div>
                            <div class="published">Year: 2015</div>
                        </div>
                    </div>
                </div>
                <div class="background">
                    <div class="book-details">
                        <p class="book-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                            nulla voluptas iure error quod ex labore sapiente nesciunt tempore unde?</p>
                        <button type="button" class="btn btn-outline">See details</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6">
            <div class="book">
                <div class="bookmark"><span class="genre">Growth</span></div>
                <div class="front">
                    <img class="thumbnail" src="../../../assets/book_muscle.jpg" alt="" width="200px">
                    <div class="book-about">
                        <h3 class="book-title">Book name</h3>
                        <div class="book-info">
                            <div class="author">J.K. Rowling</div>
                            <div class="published">Year: 2015</div>
                        </div>
                    </div>
                </div>
                <div class="background">
                    <div class="book-details">
                        <p class="book-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                            nulla voluptas iure error quod ex labore sapiente nesciunt tempore unde?</p>
                        <button type="button" class="btn btn-outline">See details</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6">
            <div class="book">
                <div class="bookmark"><span class="genre">Growth</span></div>
                <div class="front">
                    <img class="thumbnail" src="../../../assets/book_muscle.jpg" alt="" width="200px">
                    <div class="book-about">
                        <h3 class="book-title">Book name</h3>
                        <div class="book-info">
                            <div class="author">J.K. Rowling</div>
                            <div class="published">Year: 2015</div>
                        </div>
                    </div>
                </div>
                <div class="background">
                    <div class="book-details">
                        <p class="book-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                            nulla voluptas iure error quod ex labore sapiente nesciunt tempore unde?</p>
                        <button type="button" class="btn btn-outline">See details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
