.books {
    font-family: Roboto-Condensed-Regular;
    min-height: calc(100vh - 120px);
    display: grid;
    place-items: center;
    background-color: var(--color-dark);
    color: var(--color-light);
    z-index: -999;
}

img {
    max-width: 100%;
}

.book {
    position: relative;
    width: 12.5em;
    z-index: 1;
    cursor: pointer;
}

.bookmark {
    position: absolute;
    top: -1px;
    right: 1em;
    background-color: rgba(0, 0, 0, .65);
    font-weight: bold;
    font-size: 0.48rem;
    transition: var(--transition);
    z-index: 1;
    padding: 1.5rem 0;
    .genre {
        display: block;
        transform: rotate(90deg);
    }
}

.book-info {
    text-align: center;
    font-size: 0.72rem;
    line-height: 0.77rem;
    columns: 2;
    column-rule: thin solid rgba(white, 0.25);
}

.front {
    transition: var(--transition);

    .thumbnail {
        border-radius: var(--br);
    }

    .book-title {
        margin: .75em 0;
        font-weight: bold;
        color: var(--clr-light)
    }


}


.background {
    inset: 0;
    position: absolute;
    background-color: #234;
    z-index: -1;
    transform: scale(.2, .9);
    border-radius: var(--br);
    opacity: 0;

    .book-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .book-description {
            height: 70px;
            overflow: hidden;
            text-align: center;
            font-size: 0.55rem;
            line-height: 0.9rem;
            margin-bottom: 1em;
        }

        .btn {
            margin: 0;
            font-size: 0.75em;
            font-weight: bold;
        }
    }
}

.book:hover {
    .bookmark {
        transform: translate(150%, -40%)
    }
    .front {
        transform: translateY(-30%) scale(0.8);
        .book-about {
            animation: bookName 200ms linear forwards;
            .book-title {
                margin: .75em 0;
            }
        }

    }

    .back {
        opacity: 1;
        transform: translateY(0%);
    }

    .background {
        display: flex;
        padding: 1.5em;
        align-items: flex-end;
        justify-content: center;
        transition: var(--transition),
            opacity 100ms linear;
        transform: scale(1.6, 1.2);
        opacity: 1;
        height: 350px;
    }
}

@keyframes bookName {
    0% {
        text-align: left;
        opacity: 1;
    }

    20% {
        text-align-last: left;
        opacity: 0;
    }

    50% {
        text-align: center;
        opacity: 0;
    }

    100% {
        text-align: center;
        transform: scale(1.2);
        opacity: 1;
    }

}

// .vertical {
//     border-right: 1px var(--color-light);
//     height: max(100%, 10);
// }