<div style="text-align: center;">

  <h1 style="color: #fff;">Топ-10 сучасних українських книжок</h1>
</div>
<div class="clr-row books">
  <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6" style="margin-bottom: 1.7em;">
    <div class="book">
      <button class="bookmark"></button>
      <div class="front">
        <div class="thumbnail"
             [style.backgroundImage]="'url(https://images.weserv.nl/?w=600&we=1&output=webp&url=https%3A%2F%2Fthepage.fra1.digitaloceanspaces.com%2Flive%2Fmedia%2F153207%2Fimg-4670.jpg)'"></div>
        <div class="book-about">
          <h3 class="book-title">Покров</h3>
          <div class="book-info">
            <div class="author">Люко Дашвар</div>
            <div class="published">Рік: 2015</div>
          </div>
        </div>
      </div>
      <div class="background">
        <div class="book-details">
          <p class="book-description">Останні дні листопада 2013-го, країну лихоманить. Мар`яна не звертає уваги на це —
            усі її думки лише про чоловіка, який насправді не вартий сліз. Зустріч із дивним хлопцем Ярком змінює все.
            «Ти моя жінка», — сказав він. І від того стало так солодко...
            Та тепер не час насолоджуватися життям. Дівчина опиняється у вирі подій: чергування на Майдані, зникнення
            коханого, пошуки нащадків козака Дороша — спадкоємців величезного статку...
            Звідки ж Мар`яні знати, що чекає на того нащадка. Предки заповіли йому не лише скарб, а й родинне
            прокляття...</p>
          <a target="_blank" href="https://bookclub.ua/ru/catalog/books/pop/pokrov">
            <button type="button" class="btn btn-light-color-outline">Деталі</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6" style="margin-bottom: 1.7em;">
    <div class="book">
      <button class="bookmark"></button>
      <div class="front">
        <div class="thumbnail"
             [style.backgroundImage]="'url(https://images.weserv.nl/?w=600&we=1&output=webp&url=https%3A%2F%2Fthepage.fra1.digitaloceanspaces.com%2Flive%2Fmedia%2F153208%2Fimg-4671.jpg%3Fv%3D1629314583)'"></div>
        <div class="book-about">
          <h3 class="book-title">Точка нуль</h3>
          <div class="book-info">
            <div class="author">Артем Чех</div>
            <div class="published">Рік: 2017</div>
          </div>
        </div>
      </div>
      <div class="background">
        <div class="book-details">
          <p class="book-description">

            Роман, який об'єднує в собі письменницький і військовий досвід автора: у 2015 — 2016 роках Артем Чех був на
            сході України. Книга написана без зайвих кривавих подробиць, але водночас вона послідовно занурює читача у
            внутрішню «кухню» волонтерів, навчальної частини, частини на Херсонщині, а потім направляє на нульовий рубіж
            на Донбасі. Герой книги втілює образ сучасного бійця — людини не безстрашної, але яка стійко переносить і
            воєнні дії, і проблеми із забезпеченням фронту, і недоліки командування. Обстріл, вивезення поранених, а
            завтра знову на пост і ще б роздобути туалетний папір — спокійний опис того, через що проходили і проходять
            наші захисники.</p>
          <a target="_blank" href="https://www.yakaboo.ua/tochka-nul.html">
            <button type="button" class="btn btn-light-color-outline">Деталі</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6" style="margin-bottom: 1.7em;">
    <div class="book">
      <button class="bookmark"></button>
      <div class="front">
        <div class="thumbnail"
             [style.backgroundImage]="'url(https://images.weserv.nl/?w=600&we=1&output=webp&url=https%3A%2F%2Fthepage.fra1.digitaloceanspaces.com%2Flive%2Fmedia%2F153209%2Fimg-4672.jpg%3Fv%3D1629362078)'"></div>
        <div class="book-about">
          <h3 class="book-title">Омбре. Над темрявою і світлом</h3>
          <div class="book-info">
            <div class="author">Лора Підгірна</div>
            <div class="published">Рік: 2018</div>
          </div>
        </div>
      </div>
      <div class="background">
        <div class="book-details">
          <p class="book-description">
            Роман-дипломант Міжнародного літературного конкурсу 2017 року «Коронація слова». І знову все починається з
            нашої сучасниці, яка навіть уявити собі не могла, як її закрутить у вирі подій. «Бібліотечний щур», архівна
            ревізорка Едіта лише знаходить загадкові клейноди. Однак у місті чомусь не люблять говорити про спадщину
            тамплієрів. Можливо, тому що за старовинним артефактом полюють не якісь потойбічні, а цілком земні сили? Але
            кому захочеться зв'язуватися зі спецслужбами і протистояти таємним товариствам? На щастя, головна героїня
            отримує підтримку й захист в особі католицького священника, і разом їм належить пройти чимало
            випробувань.</p>
          <a target="_blank" href="https://www.yakaboo.ua/ombre-nad-temrjavoju-i-svitlom.html">
            <button type="button" class="btn btn-light-color-outline">Деталі</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6" style="margin-bottom: 1.7em;">
    <div class="book">
      <button class="bookmark"></button>
      <div class="front">
        <div class="thumbnail"
             [style.backgroundImage]="'url(https://images.weserv.nl/?w=600&we=1&output=webp&url=https%3A%2F%2Fthepage.fra1.digitaloceanspaces.com%2Flive%2Fmedia%2F153210%2Fimg-4673.jpg%3Fv%3D1629314494)'"></div>
        <div class="book-about">
          <h3 class="book-title">Ключові клапани</h3>
          <div class="book-info">
            <div class="author">Павло Коробчук</div>
            <div class="published">Рік: 2019</div>
          </div>
        </div>
      </div>
      <div class="background">
        <div class="book-details">
          <p class="book-description">
            Героям роману Павла Коробчука довелося випробувати всю тяжкість прокляття «щоб ти жив в епоху великих змін!»
            Саме це і сталося з головними героями — п'ятикласниками, яким у серпні 1991-го довелося зробити крок в
            абсолютно іншу історичну епоху. Історія української незалежності розглядається автором через життя спочатку
            дітей, потім підлітків, а далі дорослих людей, які всі наступні роки шукають своє місце під сонцем. Не все
            виходить гладко: герої проходять через безнадію 90-х, кримінал і наркотичну залежність, їхні вчинки іноді
            важко пояснити, але вони залишаються вірними обіцянкам свого дитинства.</p>
          <a target="_blank" href="https://www.yakaboo.ua/kljuchovi-klapani.html">
            <button type="button" class="btn btn-light-color-outline">Деталі</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6" style="margin-bottom: 1.7em;">
    <div class="book">
      <button class="bookmark"></button>
      <div class="front">
        <div class="thumbnail"
             [style.backgroundImage]="'url(https://images.weserv.nl/?w=600&we=1&output=webp&url=https%3A%2F%2Fthepage.fra1.digitaloceanspaces.com%2Flive%2Fmedia%2F153212%2Fimg-4679.jpg%3Fv%3D1629314454)'"></div>
        <div class="book-about">
          <h3 class="book-title">Сторіччя Якова</h3>
          <div class="book-info">
            <div class="author">Володимир Лис</div>
            <div class="published">Рік: 2018</div>
          </div>
        </div>
      </div>
      <div class="background">
        <div class="book-details">
          <p class="book-description">
            Роман-переможець «Коронації слова». Через багато що довелося пройти герою книги Якову, який на порозі свого
            сторіччя згадує минуле, і перед читачем розгортається історія. І нехай це історія однієї людини, але Якову
            довелося чимало повоювати — і на боці поляків із німцями, і добровольцем не цілком за своєю волею в Червоній
            Армії, і на любовному фронті пережити чимало драм і втрат. Спочатку зрада коханої дівчини змусила його взяти
            в руки рушницю, та й потім пристрастей у його житті було безліч. Не ідеальний, але чесний герой уже заслужив
            любов багатьох читачів. </p>
          <a target="_blank" href="https://www.yakaboo.ua/stolittja-jakova-1535733.html">
            <button type="button" class="btn btn-light-color-outline">Деталі</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6" style="margin-bottom: 1.7em;">
    <div class="book">
      <button class="bookmark"></button>
      <div class="front">
        <div class="thumbnail"
             [style.backgroundImage]="'url(https://images.weserv.nl/?w=600&we=1&output=webp&url=https%3A%2F%2Fthepage.fra1.digitaloceanspaces.com%2Flive%2Fmedia%2F153211%2Fimg-4675.jpg%3Fv%3D1629314058)'"></div>
        <div class="book-about">
          <h3 class="book-title">Загублений острів</h3>
          <div class="book-info">
            <div class="author">Наталя Гуменюк</div>
            <div class="published">Рік: 2020</div>
          </div>
        </div>
      </div>
      <div class="background">
        <div class="book-details">
          <p class="book-description">
            Це не художня вигадка, а збірка репортажів. Після 2014 року мало хто з українців знає про те, що
            відбувається в Криму. Журналістка Наталія Гуменюк упродовж 6 років приїжджала туди, щоб записувати історії
            дуже різних людей. Вони — кримчани, які мають іноді діаметрально протилежні погляди на те, що трапилося й
            відбувається на їхній землі. Студенти, бізнесмени, військові — усіх цих людей авторці вдалося розговорити,
            щоб записати й передати їхні погляди, розгубленість, біль і просто небажання тримати все в собі.
          </p>
          <a target="_blank" href="http://chytomo.com/book/zahublenyj-ostriv-knyha-reportazhiv-z-okupovanoho-krymu/">
            <button type="button" class="btn btn-light-color-outline">Деталі</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6" style="margin-bottom: 1.7em;">
    <div class="book">
      <button class="bookmark"></button>
      <div class="front">
        <div class="thumbnail"
             [style.backgroundImage]="'url(https://images.weserv.nl/?w=600&we=1&output=webp&url=https%3A%2F%2Fthepage.fra1.digitaloceanspaces.com%2Flive%2Fmedia%2F153213%2Fimg-4680.jpg%3Fv%3D1629314022)'"></div>
        <div class="book-about">
          <h3 class="book-title">Інтернат</h3>
          <div class="book-info">
            <div class="author">Сергій Жадан</div>
            <div class="published">Рік: 2017</div>
          </div>
        </div>
      </div>
      <div class="background">
        <div class="book-details">
          <p class="book-description">
            Роман, у якому автор майстерно використав прийом «арка героя», його перетворення. На початку оповідання ми
            бачимо Пашу: він начебто звичайний наш сучасник, як і Мар'яна з роману «Покров», але вони відрізняються тим,
            що Паша — це класична людина «у футлярі». Він не хоче нічого вирішувати, ні на що впливати — йому й так
            добре. Але коли приходить війна, Паша опиняється перед вибором: так хто ж для нього свої? А крім того герою
            доведеться залишитися віч-на-віч зі своїм минулим, коли він байдуже пройшов повз горя свого племінника.
          </p>
          <a target="_blank" href="https://book-ye.com.ua/catalog/suchasna-ukrayinska-proza/internat/">
            <button type="button" class="btn btn-light-color-outline">Деталі</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6" style="margin-bottom: 1.7em;">
    <div class="book">
      <button class="bookmark"></button>
      <div class="front">
        <div class="thumbnail"
             [style.backgroundImage]="'url(https://images.weserv.nl/?w=600&we=1&output=webp&url=https%3A%2F%2Fthepage.fra1.digitaloceanspaces.com%2Flive%2Fmedia%2F153214%2Fimg-4681.jpg%3Fv%3D1629314022'"></div>
        <div class="book-about">
          <h3 class="book-title">Амадока</h3>
          <div class="book-info">
            <div class="author">Софія Андрухович</div>
            <div class="published">Рік: 2020</div>
          </div>
        </div>
      </div>
      <div class="background">
        <div class="book-details">
          <p class="book-description">
            Роман також звертається до теми війни, але підіймає питання реабілітації військових і їхнього повернення до
            мирного життя. Герой не тільки пережив важкі операції, що змінили його зовнішність, але і втратив пам'ять —
            він не пам'ятає нічого зі свого минулого. Й от у його житті з'являється жінка, яка видає себе за його
            дружину. Але чи правда це? Деякі читачі вказували на затягнутість оповідання, зазначаючи, що замість одного
            роману авторка фактично написала три, але попри відсилання до інших епох «Амадоку» високо оцінили і критики,
            і публіка, що читає.
          </p>
          <a target="_blank" href="https://www.yakaboo.ua/amadoka.html">
            <button type="button" class="btn btn-light-color-outline">Деталі</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6" style="margin-bottom: 1.7em;">
    <div class="book">
      <button class="bookmark"></button>
      <div class="front">
        <div class="thumbnail"
             [style.backgroundImage]="'url(https://images.weserv.nl/?w=600&we=1&output=webp&url=https%3A%2F%2Fthepage.fra1.digitaloceanspaces.com%2Flive%2Fmedia%2F153216%2Fimg-4682.jpg%3Fv%3D1629314022'"></div>
        <div class="book-about">
          <h3 class="book-title">Аеропорт</h3>
          <div class="book-info">
            <div class="author">Сергій Лойко</div>
            <div class="published">Рік: 2015</div>
          </div>
        </div>
      </div>
      <div class="background">
        <div class="book-details">
          <p class="book-description">
            Роман також звертається до теми війни, але підіймає питання реабілітації військових і їхнього повернення до
            мирного життя. Герой не тільки пережив важкі операції, що змінили його зовнішність, але і втратив пам'ять —
            він не пам'ятає нічого зі свого минулого. Й от у його житті з'являється жінка, яка видає себе за його
            дружину. Але чи правда це? Деякі читачі вказували на затягнутість оповідання, зазначаючи, що замість одного
            роману авторка фактично написала три, але попри відсилання до інших епох «Амадоку» високо оцінили і критики,
            і публіка, що читає.
          </p>
          <a target="_blank" href="https://www.yakaboo.ua/ajeroport-aeroport.html">
            <button type="button" class="btn btn-light-color-outline">Деталі</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6" style="margin-bottom: 1.7em;">
    <div class="book">
      <button class="bookmark"></button>
      <div class="front">
        <div class="thumbnail"
             [style.backgroundImage]="'url(https://images.weserv.nl/?w=600&we=1&output=webp&url=https%3A%2F%2Fthepage.fra1.digitaloceanspaces.com%2Flive%2Fmedia%2F153217%2Fimg-4684.jpg%3Fv%3D1629314022'"></div>
        <div class="book-about">
          <h3 class="book-title">Цуцик</h3>
          <div class="book-info">
            <div class="author">Віталій Запека</div>
            <div class="published">Рік: 2015</div>
          </div>
        </div>
      </div>
      <div class="background">
        <div class="book-details">
          <p class="book-description">
            «Цуцик» уже визнано сучасною класикою. І це один із небагатьох антивоєнних романів, адже тут не називаються
            сторони війни на Донбасі хоча б тому, що головний герой не вимовить ані «сепари», ані «укри». Тому що він —
            не людина, а маленьке цуценя, що народилося в бездомного собаки. І через сприйняття песика автор передає
            біль від того, що відбувається навколо, заразом показуючи читачам, що від війни страждають не тільки люди, а
            й ті, кого ми, зайняті своїми проблемами, часто не помічаємо, — наші молодші брати, тварини.
          </p>
          <a target="_blank" href="https://book-ye.com.ua/catalog/suchasna-ukrayinska-proza/tsutsyk/">
            <button type="button" class="btn btn-light-color-outline">Деталі</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col clr-col-12 clr-col-xl-3 clr-col-lg-3 clr-col-md-4 clr-col-sm-6" style="margin-bottom: 1.7em;">
    <div class="book">
      <button class="bookmark"></button>
      <div class="front">
        <div class="thumbnail"
             [style.backgroundImage]="'url(https://images.weserv.nl/?w=600&we=1&output=webp&url=https%3A%2F%2Fthepage.fra1.digitaloceanspaces.com%2Flive%2Fmedia%2F153218%2Fimg-4685.jpg%3Fv%3D1629314022'"></div>
        <div class="book-about">
          <h3 class="book-title">Справа Василя Стуса</h3>
          <div class="book-info">
            <div class="author">Вахтанг Кіпіані</div>
            <div class="published">Рік: 2019</div>
          </div>
        </div>
      </div>
      <div class="background">
        <div class="book-details">
          <p class="book-description">
            Це не художній твір, а публіцистична праця історика й журналіста Вахтанга Кіпіані, але The Page Style не
            могло не включити його до рейтингу, оскільки «Справа Василя Стуса» — справжня історична подія. Бонусне місце
            ми віддаємо книзі, у якій зібрано архівні документи з кримінальної справи Василя Стуса, свідчення та спогади
            очевидців тих подій. Книга стала предметом судового розгляду: Віктор Медведчук подав позов до суду з вимогою
            заборонити її друк і навіть отримав відповідне рішення суду. «Справу Василя Стуса» моментально розкупили,
            наступний тираж надрукували з текстом рішення — ці примірники стали колекційними. Зрештою правда перемогла:
            апеляційний суд скасував рішення суду першої інстанції про заборону публікації й розповсюдження, а також
            використання імені Медведчука, який під час описуваних у книзі подій був адвокатом Стуса.
          </p>
          <a target="_blank" href="https://www.yakaboo.ua/sprava-vasilja-stusa.html">
            <button type="button" class="btn btn-light-color-outline">Деталі</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
