<div class="pagination">

    <button class="page-cell" (click)="onClick($event)" [disabled]="currPage === 1" [routerLink]="[ baseUrl, 1]"
        data-page=1>
        <i class="fal fa-fast-backward"></i>
    </button>

    <button class="page-cell" (click)="onClick($event)" style="margin-right: 10px;"
        [disabled]="currPage === 1" [attr.data-page]="currPage - 1" [routerLink]="[baseUrl, currPage - 1]">
        <i class="fal fa-step-backward"></i>
    </button>

    <button class="page-cell" *ngFor="let page of pageNums" (click)="onClick($event)" [attr.data-page]="page"
        [routerLink]="[baseUrl, page]" routerLinkActive="active">{{ page }}</button>

    <button class="page-cell" (click)="onClick($event)" style="margin-left: 10px;"
        [disabled]="currPage === getMaxPages()" [attr.data-page]="currPage - 1" [routerLink]="[baseUrl, currPage + 1]">
        <i class="fal fa-step-forward"></i>
    </button>

    <button class="page-cell" (click)="onClick($event)" [disabled]="currPage === getMaxPages()"
        [attr.data-page]="getMaxPages()" [routerLink]="[baseUrl, getMaxPages()]">
        <i class="fal fa-fast-forward"></i>
    </button>

</div>