<div class="pagination">
    <button class="page-cell" (click)="fastBackward()" [disabled]="currPage === 1"> 
        <i class="fal fa-fast-backward"></i>
    </button>
    <button class="page-cell" style="margin-right: 10px;" (click)="backward()" [disabled]="currPage === 1">
        <i class="fal fa-step-backward"></i>
    </button>
    <button class="page-cell" *ngFor="let page of pageNums" [class.active]="page === currPage" (click)="onClick($event)" [attr.data-page]="page">{{ page }}</button>
    <button class="page-cell" style="margin-left: 10px;" (click)="forward()" [disabled]="currPage === getMaxPages()">
        <i class="fal fa-step-forward"></i>
    </button>
    <button class="page-cell" (click)="fastForward()" [disabled]="currPage === getMaxPages()">
        <i class="fal fa-fast-forward"></i>
    </button>
</div>