<div class="pagination">

    <button id="fast-backward" class="page-cell" (click)="onClick($event)" [disabled]="currPage === 1"
        *ngIf="getMaxPages() > reach * 2 + 1">
        <i class="fal fa-fast-backward"></i>
    </button>

    <button id="step-backward" class="page-cell" (click)="onClick($event)" [disabled]="currPage === 1"
        style="margin-right: 10px;" *ngIf="getMaxPages() > reach + 1">
        <i class="fal fa-step-backward"></i>
    </button>

    <button class="page-cell" [class.active]="page === currPage" *ngFor="let page of pageNums" (click)="onClick($event)"
        [attr.data-page]="page">{{
        page }}</button>

    <button id="step-forward" class="page-cell" (click)="onClick($event)" [disabled]="currPage === getMaxPages()"
        style="margin-left: 10px;" *ngIf="getMaxPages() > reach + 1">
        <i class="fal fa-step-forward"></i>
    </button>

    <button id="fast-forward" class="page-cell" (click)="onClick($event)" [disabled]="currPage === getMaxPages()"
        *ngIf="getMaxPages() > reach * 2 + 1">
        <i class="fal fa-fast-forward"></i>
    </button>

</div>