<ng-container *ngIf="book">
    <div class="block book">
        <div class="thumbnail" [style.backgroundImage]="'url(' + book?.thumbnail + ')'"></div>
        <h2 class="book-title">{{ book?.title | titlecase }} ({{book.published_year}})</h2>
        <div class="book-details">
            <div class="book-author">{{book.author_name}}</div>
            <div class="book-genres">{{book.book_genres.join(', ')}}</div>
        </div>
        <div class="book-description">{{ book?.description }}</div>
    </div>
    <div class="block comments">

        <button class="btn btn-light-color-outline" (click)="readyToComment = true;" *ngIf="!readyToComment" style="margin-bottom: var(--main-gutter);">Add
            Comment</button>
        <ng-container *ngIf="readyToComment">
            <form class="form" clrForm [formGroup]="commentForm" *ngIf="isLoggedIn else loginToComment">
                <div class="input-wrapper">
                    <clr-textarea-container style="margin-bottom: var(--main-gutter);">
                        <label>Comment: </label>
                        <textarea clrTextarea formControlName="comment" cols="400" rows="7"></textarea>
                    </clr-textarea-container>
                    <button id="comment-btn" type="button" class="btn btn-block btn-light-color-outline"
                        (click)="postComment()">Comment</button>
                </div>
            </form>
        </ng-container>
        <ng-template #loginToComment>
            <div style="color: white; text-align: center;">
                <div>Sign In to leave Comments</div>
                <button class="btn btn-primary" [routerLink]="['/login']">Sign In</button>
            </div>
        </ng-template>

        <ul class="comments-list">
            <li *ngFor="let comment of book.comments.reverse()">
                <h6>Автор: {{comment.username}}</h6>
                <p>{{comment.text}}</p>
            </li>
        </ul>
    </div>
</ng-container>